h5 {
    background-color: #EE3A8C;
}

#id1 {
    background-image: url(barabi.png);
}

p {
    font-family: 'Space Mono', monospace;
}

#h4 {
    padding: 50px 50px 50px 50px;
}

#g {
    padding-left: 13cm;
    padding-top: 2%;
    position: relative;
    top: -600px;
}

#t {
    padding-left: 13cm;
    padding-top: 2%;
    position: relative;
    top: -588px;
    color: #eee;
    -webkit-text-stroke: 0px #eee;
}

body {
    margin: 0px;
}

nav {
    margin-top: 15px;
    padding: 14px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
    background: #1a1a1a;
}

.link-1 {
    transition: 0.3s ease;
    background: #181818;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    border-top: 4px solid #181818;
    border-bottom: 4px solid #181818;
    padding: 10px 0;
    margin: 0 17px;
}

.link-1:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}

body {
    background: linear-gradient(-45deg, #e73c7e, #E1578A, #EB92BE, #ED50F1);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    flex-flow: column wrap;
    align-items: left;
    justify-content: flex-start;
}

.anime-grill-center {
    width: 570px;
    margin-top: 25px;
    height: 699px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background: url(yeahb.png);
    background-size: cover;
    position: relative;
    z-index: 0;
}

.text-lines {
    position: absolute;
    top: 567px;
    font: 900 100px/80px montserrat;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #eee;
}

.text-lines .line-2 {
    color: #eee;
    -webkit-text-stroke: 0px #eee;
}